<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eastar.data.provider">

    <application>
        <provider
            android:name="dev.eastar.data.provider.CheatProvider"
            android:authorities="${applicationId}.cheat.provider"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>